body{
    background-color: #9bb6e3;
    font-family: "inter";
}

section{
    background-color: rgb(255, 242, 218);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 80%;
    margin: 160px;
    margin-bottom: 70px;
    max-height: 40%;
    border-radius: 10px;
}

article{
    width: 80%;
    text-align:center;
    
}

#carrusel{
    margin-left: 10px;
    width: 60%;
    height: 100%;    
}

.carousel{
    height: 100%;
}

.carousel-item img{
    max-height: 100%;
    object-fit:cover;
    border-radius: 5px;
    margin-left: 120px;
}

.carousel-control-prev{
    font-size: 2em;
    
}

.carousel-control-next{
    font-size: 2em;
    margin-right: 80px;
}

article h2{
   font-size: 20px;
}

article h3, h5{
    font-size: 17px;
}

.descripción{
    background-color: whitesmoke;
    width: 50%;
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

.contactar{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.contactar button{
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactar button:hover {
    background-color: #ff6f50;
}


