      .footer{
        background-color: #21295c;
        margin-top: 15px;
        padding-bottom: 15px;
        color: rgba(245, 245, 245, 0.901);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 140px;
        border-radius: 10px;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .logo-container-footer img{
        max-height: 200px;
        width: auto;
    }

    .logo-container-footer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .social-icons ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-self: flex-end;
    }

    .social-icons li{
        margin: 0 10px;
    }

    .social-icons a{
        text-decoration: none;
        justify-content: right;
        color: rgba(245, 245, 245, 0.901);
        font-size: 20px;
        
    }

    .contact-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;

    }

    /*Contacto*/
    .contact-container h4{
        text-align: center;
        font-size: 16px;
    }

    /*correo, teléfono*/
    .contact-container p{
        text-align: center;
        font-size: 14px;
    }

    /*derechos*/
    .derechos {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }


    @media screen and (max-width: 768px) {
        .logo-container-footer img {
          max-height: 100px;
        }
      
        .social-icons {
          justify-content: center;
        }
      
        .derechos {
          text-align: justify;
        }
      }

