.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.header{
    position: fixed;
    top: 15px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(140, 165, 211, 0.7); 
    width: 1673.368px, fit-content;
    height: 111.558px;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 10px 20px;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 100;
}



.logo-container {
    display: flex;
    align-items: center;
}

.logo-container a{
    display: block;
    text-align: center;
}
.logo-container img{
    max-width: 100%;
    max-height: 100px;
}

.nav-list{
    list-style: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list ul{
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0;   
}

.nav-list li{
    display: inline;
    margin: 0 10px;
}

.nav-list a{
    margin: 0 10px;
    text-decoration: none;
    color: #013071;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}

.logo{
    width: 100px;
    height: auto;
}

.botones-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 10px;
}

.botones-container a.ingresarheader,
.botones-container a.registrarseheader{
    margin: 0 10px;
    padding: 15px 30px;
    color: white;
    background-color: #013071;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header {
      width: 100%;
      height: auto;
    }
  
    .logo-container img {
      max-height: 50px;
    }
  
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-list li {
      margin: 0 0 10px;
    }

    .botones-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 10px;
      }
    
      .botones-container a.ingresarheader,
      .botones-container a.registrarseheader {
        align-items: center;
        width: 80px;
        height: 30px;
      }
  }

  @media screen and (min-width: 768px) {
    .botones-container a.ingresarheader,
    .botones-container a.registrarseheader {
      align-items: center;
      width: 80px;
      height: 30px;
    }
  }


 

  
@font-face {
    font-family: "Inter";
    src: url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.eot");
    src: url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.svg#Inter")format("svg");
}