body{
    background-color: #9bb6e3;
    overflow-x:hidden ;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 10px;
}

form {
    width: 450px;
    height: 450px;
    background: #21295c;
    padding: 40px 20px;
    border-radius: 15px;
}

/* botón registrarse */
form button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: #2a4494;
    margin-top: auto;
}

/* texto registrarse*/
h1{
    padding-top: 5px;
    text-align: center;
    color: #fff;
}

/* ya tienes cuenta */
.cuenta{
    color: #fff;
    text-align: center;
}

/* botón iniciar sesión */
.inicio{ 
    text-decoration: none;
    color: #2a4494;
    display: block;
    text-align: center;

}

.inputLogin {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 40px;
    margin: 9px 0px;
    padding: 4px;
    border: 2px solid #2a4494;
    border-radius: 30px;
    align-items: center;
}

.inputLogin input{
    border: none;
    padding-left: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 1px;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #fff;   
}

form .registrarse{
    margin: 60px 53px;
    display: flex;
    text-align: center;
    padding: 90px;
}
