body{
    background-color: #9bb6e3;
}



section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 10px;
    
}

form {
    width: 500px;
    height: 500px;
    background: #21295c;
    padding: 40px 40px;
    border-radius: 15px;
}

/* boton registrarse */
form button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: #2a4494;
    margin-top: 30px;
}

/* texto registrarse*/
h1{
    padding-top: 5px;
    text-align: center;
    color: #fff;
}

/* ya tienes cuenta */
.cuenta{
    color: #fff;
    margin-top: 30px;
    margin-right: 0px;
    margin-left: 185px;
    margin-bottom: 10px;
}

/* boton iniciar sesion */
.inicio{ 
    text-decoration: none;
    color: #2a4494;
    margin-top: 10px;
    margin-right: 60px;
    margin-left: 200px;
}

.inputLogin {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 40px;
    margin: 9px 0px;
    padding: 4px;
    border: 2px solid #2a4494;
    border-radius: 30px;
    align-items: center;
}

.inputLogin input{
    border: none;
    padding-left: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 1px;
    background: transparent;
    font-size: 15px;
    outline: none;
    color: #fff;   
}

form .registrarse{
    margin: 60px 53px;
    display: flex;
    text-align: center;
    padding: 90px;
}

@font-face {
    font-family: "Inter";
    src: url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.eot");
    src: url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/120e0ce82c6e82ef6e31c808ae2ebf22.svg#Inter")format("svg");
}